# PlatformIO
.pio/
.vscode/
build/
*.bin
*.elf
*.hex

# Configuración sensible de Firmware
firmware/include/config.h
firmware/include/certs.h
firmware/src/certs/

# Node.js
backend/node_modules/
backend/.env